#Fondo{

	position: absolute;
	left: 15%;
	top: 1%;
	background-color: #585858
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
	border: 0px solid #000000;
	background-color: #D8D8D8;
	width: 1064px;
	height: 720px;
	text-shadow: 2px 2px 2px #359ACE;
	font-size: 125%;


}
.Panel{
   position: absolute;
	left: 5%;
	top: 20%;
	background-color: #585858
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
	border: 0px solid #000000;
	background-color: #D8D8D8;
	width: 900px;
	height: 540px
	text-shadow: 2px 2px 2px #359ACE;
	text-align: 10%;
	font-size: 90%;
	overflow: auto;

}
.TextBox{
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
	border: 0px solid #000000;
	background-color: #BDBDBD;
	font-family: 'Aclonica', serif;
	text-shadow: -10px 10px 10px rgba(0,0,0, 0.3);
	text-align: center;
}
.Button{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    
    background-color: #6E6E6E;
    border-radius: 15px;
    border: 3px double #0174DF;
    cursor: hand;
    text-shadow: 2px 2px 2px #6E6E6E;
	text-align: 10%;
	font-size: 70%;
  }
  .Button:hover{
    opacity: 0.6;
    text-decoration: none;
    cursor: hand;
  }

  .Buttonace{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    
    background-color: #6E6E6E;
    border-radius: 15px;
    border: 3px double #0174DF;
    cursor: hand;
    text-shadow: 2px 2px 2px #6E6E6E;
	text-align: 10%;
	font-size: 130%;
  }
  .Buttonace:hover{
    opacity: 0.6;
    text-decoration: none;
    cursor: hand;
  }
  #Button7{
  	position: absolute;
  	top: 2%;
  	left: 90%;
  	height: 40px;
  	width: 150px;
text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    
    background-color: #8A0808;
    border-radius: 15px;
    border: 3px double #0174DF;
    cursor: hand;
    text-shadow: 2px 2px 2px #6E6E6E;
	text-align: 10%;
	font-size: 100%;
	color: white;

  }